{
    "timeout": 10,
    "source": {
        "directories": [
            "./"
        ],
        "excludes": [
            "vendor",
            "database"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": false
    }
}
